name: Deployment pipeline

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm ci
      - name: Check style - eslint
        run: npm run eslint
      - name: Build
        run: npm run build
      - name: Trigger deployment
        if: ${{ github.event_name == 'pull_request' }}
        run: curl https://api.render.com/deploy/srv-${{ secrets.RENDER_SERVICE_ID }}?key=${{ secrets.RENDER_API_KEY }}
      - name: Check Health
        if: ${{ github.event_name == 'pull_request' }}
        run: curl https://phonebook-backend-prd6.onrender.com/health
      - name: Deployment success
        uses: rjstone/discord-webhook-notify@v1
        if: success() 
        with: 
          severity: info
          details: A new version of phonebookApp deployed!
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
      - name: Deployment failure
        uses: rjstone/discord-webhook-notify@v1
        if: failure() 
        with: 
          severity: error
          details: Build failed
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}


  tag_release:
    needs: [simple_deployment_pipeline]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Bump version and push tag
        if: ${{ github.ref == 'refs/heads/main' }} && ${{ contains(toJson(github.event.commits.*.message),'#skip')}}
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch

